@import url('https://fonts.googleapis.com/css2?family=Kufam:wght@500&display=swap');
/* font-family: 'Kufam', cursive; */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/* border: 0; */
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	/* border-collapse: collapse; */
	/* border-spacing: 0; */
}

*{
    /* border:1px solid black; */
}

body{
    padding:1%;
    font-family:sans-serif;
    margin: 0 5%;
    background: #949494;
    color:white;
}
header{
    background:#de4747;
}

h1{
    padding:2%;
    font-size:300%;
    font-family: 'Kufam', cursive;
    text-shadow:3px 3px black;
}
.header-nav{
    padding:1%;
    display: flex;
    justify-content:space-evenly;
    width:40%;
    margin-left:2%;
}
.header-nav a{
    display:flex;
    text-decoration:none;
    font-size:200%;
    padding:2%;
    border-radius:10px;
    color:black;
    background:lightgray;
    transition:.2s;
    margin-bottom:2%;
}
.header-nav a:hover{
    color:white;
    background:#b82323;
}

.main{
    display:flex;
    width:100%;
    justify-content:space-evenly;
    align-items:center;
    flex-flow:row;
    height:20%;
    padding:2%;
}
.imageMain{
    width:40%;
    border-radius:100px;
}
.textMain{
    width:50%;
}
h2{
    padding:1%;
    font-size:300%;
    text-shadow:3px 3px black;
}

.projectButton{
    text-decoration:none;
    width:100%;
    padding:2%;
    font-size:150%;
    border-radius:10px;
    color:black;
    background:lightgray;
    transition:.2s;
}
.projectButton:hover{
    color:white;
    background:#b82323;
}
.main p{
    font-size:200%;
    width:90%;
}

.project-preview{
    display:flex;
    justify-content:space-evenly;
    width:100%;
    text-align:center;
    margin:auto;
    flex-wrap:wrap;
}

.project-container{
    justify-content:space-evenly;
    margin:2%;
    width:20%;
}
.project-container p{
    font-size:175%;
    padding:4%;
}

.project{
    width:100%;
    border-radius:10px;
}

footer{
    display:flex;
    flex-flow:column;
    justify-content:center;
    align-items:center;
    padding:2%;
    background:#de4747;
}

.textFooter{
    font-size:200%;
    padding:1%;
    margin-bottom:2%;
}
.navFooter{
    width:20%;
    text-align:center;
    margin-bottom:1%;
}
.contactFooter{
    text-decoration:none;
    padding:3%;
    font-size:150%;
    border-radius:10px;
    color:black;
    background:lightgray;
    transition:.2s;
    text-align:center;
}
.contactFooter:hover{
    color:white;
    background:#b82323;
}




